<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type='text/css'>
</head>
<body>

  <% if !@current_user.nil? %>
    <div>
      <form action="/session" method="POST">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">

        <input type="hidden" value="delete" name="_method" />
        <input type="submit" value="Logout" />
      </form>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
